@use "common/variables.scss";

.address-contact {
  display: flex;
}

.address-contact__title {
  color: variables.$secondary-black;
  font-family: variables.$oswald-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;
  margin: 0;
}

.address-contact__text {
  line-height: 20px;
  font-style: normal;
  width: 140px;
}

.address-contact--grey {
  background-color: variables.$light-grey;
}
