@use "common/variables.scss";

.address-contact__title {
  color: variables.$secondary-black;
  font-family: variables.$oswald-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;
  margin: 0;
  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 163px;
    margin: 61px 40px 61px 0;
    padding: 0;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0;
    padding-left: 31px;
    min-width: 183px;
    padding-top: 7px;
  }
}

.address-contact__text {
  line-height: 20px;
  font-style: normal;
  width: 140px;
  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width: variables.$tablet-width) {
    font-size: 16px;
    width: 157px;
    margin: 61px 0 61px 40px;
    padding: 0;
    text-align: right;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0 28px 0 0;
    padding-right: 0;
    text-align: left;
    padding-top: 6px;
  }
}

.address-contact__subtext {
  @media (min-width: variables.$tablet-width) {
    display: block;
    margin-top: 19px;
  }
}

.address-contact--grey {
  background-color: variables.$light-grey;
}

.address-contact__container {
  display: flex;
  z-index: 2;

  @media (min-width: variables.$tablet-width) {
    width: 768px;
    justify-content: space-between;
    padding: 0 70px;
  }

  @media (min-width: variables.$desktop-width) {
    display: flex;
    background-color: variables.$white;
    width: 565px;
    min-height: 199px;
    padding: 0;
    margin: 0;
    position: absolute;
    right: calc(50% + 45px);
    top: 95px;
    align-items: center;
    justify-content: space-around;
  }
}

.address-contact {
  @media (min-width: variables.$desktop-width) {
    position: relative;
  }
}
