@use "common/mixins.scss" as *;
@use "common/variables.scss";

.advantages__item {
  margin-bottom: 26px;
  position: relative;

  @media (min-width: variables.$tablet-width) {
    position: relative;
    display: block;
    min-height: 280px;

    &::after {
      position: absolute;
      font-family: variables.$oswald-font;
      color: variables.$light-grey;
      font-size: 280px;
      top: 90px;
      left: 110px;
      counter-increment: advantage;
      content: counter(advantage);
      z-index: -1;
    }
  }
}

.advantages__title {
  color: variables.$black;
  font-family: variables.$oswald-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 42px;

  @media (min-width: variables.$tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}

.advantages__text {
  width: 280px;
  min-height: 54px;
  margin: 0;
  padding-left: 80px;
  position: relative;

  @media (min-width: variables.$tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding: 151px 26px 57px 0;
  }
}

.advantages__text::before {
  @include pseudo;
  background-color: variables.$green;
  width: 60px;
  height: 60px;
  left: 0;
  top: -2px;

  @media (min-width: variables.$tablet-width) {
    width: 80px;
    height: 80px;
    left: 0;
    top: 31px;
  }
}


.advantages__text--leaf::after {
  @include pseudo;
  background-image: url("../img/icon-leaf.svg");
  background-repeat: no-repeat;
  top: 13px;
  left: 15px;
  width: 30px;
  height: 32px;
  background-size: contain;

  @media (min-width: variables.$tablet-width) {
    top: 55px;
    left: 24px;
  }
}

.advantages__text--water::after {
  @include pseudo;
  background-image: url("../img/icon-water.svg");
  background-repeat: no-repeat;
  top: 15px;
  left: 17px;
  width: 26px;
  height: 29px;
  background-size: contain;

  @media (min-width: variables.$tablet-width) {
    top: 55px;
    left: 26px;
  }
}

.advantages__text--eat::after {
  @include pseudo;
  background-image: url("../img/icon-eat.svg");
  background-repeat: no-repeat;
  top: 15px;
  left: 17px;
  width: 25px;
  height: 30px;
  background-size: contain;

  @media (min-width: variables.$tablet-width) {
    top: 55px;
    left: 28px;
  }
}

.advantages__text--clock::after {
  @include pseudo;
  background-image: url("../img/icon-clock.svg");
  background-repeat: no-repeat;
  top: 14px;
  left: 17px;
  width: 27px;
  height: 31px;
  background-size: contain;

  @media (min-width: variables.$tablet-width) {
    top: 55px;
    left: 27px;
  }
}

.advantages__list {
  @include list;
  padding-bottom: 20px;

  @media (min-width: variables.$tablet-width) {
    display: grid;
    grid-template-columns: min-content min-content;
    column-gap: 137px;
    counter-reset: advantage;
  }

  @media (min-width: variables.$desktop-width) {
    display: flex;
    justify-content: space-between;
    column-gap: 0;
    flex-wrap: wrap;
  }
}
