@use "common/mixins.scss" as *;
@use "common/variables.scss";

.advantages__item {

  margin-bottom: 26px;
}

.advantages__title {
  color: variables.$black;
  font-family: variables.$oswald-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 42px;
}

.advantages__text {
  width: 280px;
  min-height: 54px;
  margin: 0;
  padding-left: 80px;
}

.advantages__list {
  @include list;
  margin-bottom: 49px;
}
