@use "common/mixins.scss" as *;
@use "common/variables.scss";

.catalog__list {
  @include list;

  @media (min-width: variables.$tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
    column-gap: 60px;
    row-gap: 60px;
  }

  @media (min-width: variables.$desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    row-gap: 63px;
  }
}

.catalog__item {
  padding-top: 20px;
  padding-bottom: 25px;
}
