@use "common/variables.scss";

.example {
  background-color: variables.$grey;

  @media (min-width: variables.$tablet-width) {
    background-image: linear-gradient(variables.$white 0, variables.$white 384px, variables.$grey 384px, variables.$grey 1080px);
  }

  @media (min-width: variables.$desktop-width) {
    background-image: linear-gradient(variables.$white 0, variables.$white 136px, variables.$light-grey 136px, variables.$light-grey 600px);
  }
}

.example__title {
  color: variables.$black;
  font-family: variables.$oswald-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  padding: 25px 20px 40px 20px;

  @media (min-width: variables.$tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding: 45px 20px 40px 0;
  }

  @media (min-width: variables.$desktop-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.example__expenses {
  color: variables.$black;
  font-family: variables.$oswald-font;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 14px 36px 20px 46px;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 172px;
    text-align: right;
    margin: 0;
  }

  @media (min-width: variables.$desktop-width) {
    width: 330px;
    margin-top: 55px;
  }
}

.example__expenses-number {
  @media (min-width: variables.$desktop-width) {
    margin-left: 63px;
  }
}

.example__text {
  margin: 0;
  padding: 0 20px 20px 20px;

  @media (min-width: variables.$tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
    padding: 0;
  }

  @media (min-width: variables.$desktop-width) {
    width: 426px;
  }
}

.example__measure {
  margin: 0;
}

.example__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  padding-bottom: 20px;
  text-align: center;
  position: relative;

  @media (min-width: variables.$tablet-width) {
    width: 367px;
    margin: 0;
  }
}

.example__image {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.example__image-cat {
  display: block;

  @media (min-width: variables.$tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.example__wrapper-tablet {
  @media (min-width: variables.$tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: variables.$desktop-width) {
    display: block;
  }
}

.example__slider {
  position: relative;
  height: 256px;
  margin: 0 auto;

  @media (min-width: variables.$tablet-width) {
    height: 512px;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0;
  }
}

.example__wrapper-desktop {
  @media (min-width: variables.$desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.example__container {
  @media (min-width: variables.$desktop-width) {
    display: grid;
    grid-template-columns: 1fr 560px;
  }
}
