@use "common/variables.scss";

.example {
  background-color: variables.$grey;
}

.example__title {
  color: variables.$black;
  font-family: variables.$oswald-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  padding: 25px 20px 40px 20px;
}

.example__expenses {
  color: variables.$black;
  font-family: variables.$oswald-font;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 66px 20px 60px;
}

.example__text {
  margin: 0;
  padding: 0 20px 20px 20px;
}

.example__measure {
  margin: 0;
}

.example__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 20px 20px;
  text-align: center;
}

.example__image {
  padding: 0 20px 40px 20px;
}
