@use "common/variables.scss";

.form {
  font-family: variables.$oswald-font;
  font-size: 16px;
  line-height: 18px;
}

.form__input {
  color: variables.$dark-grey;
  font-family: variables.$oswald-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  height: 45px;
  margin-left: 13px;
  margin-bottom: 14px;
  border: 1px solid variables.$grey-input;
  flex-grow: 1;

  &::placeholder {
    color: variables.$dark-grey;
    opacity: 1;
    padding: 14px 15px 13px 15px;
  }
}

.form__input-area {
  width: 280px;
  min-height: 150px;
  margin: 0;
}

.form__label {
  display: flex;
  text-transform: uppercase;
  align-items: center;
}

.form__part-title {
  color: variables.$black;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
}

.form__part-title--contact {
  margin-bottom: 35px;
}

.form__part-title--comment {
  margin-bottom: 38px;
}

.form__part-title--adds {
  margin-bottom: 40px;
}

.form__text {
  color: variables.$black;
  font-size: 14px;
  text-transform: uppercase;
  width: 226px;
}

.form__note {
  color: variables.$black;
  font-family: variables.$lato-font;
  font-size: 14px;
  line-height: 16px;
}

.form__item {
  border: none;
  margin: 0;
  padding: 0;
}

.form__item--radio {
  min-height: 116px;
  margin-bottom: 20px;
}

.form__item--comment {
  margin-bottom: 23px;
}

.form__wrapper {
  width: 280px;
  display: flex;
  flex-direction: column;
  row-gap: 21px;
  text-align: center;
  margin-bottom: 32px;
  margin-top: 15px;
}

.form__mark {
  margin-bottom: 25px;
}

.form__item--main {
  margin-bottom: 46px;
}

.form__check {
  margin-bottom: 19px;
}
