@use "common/mixins.scss" as *;
@use "common/variables.scss";

.form {
  font-family: variables.$oswald-font;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
  }
}

.form__input {
  color: variables.$dark-grey;
  font-family: variables.$oswald-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  height: 45px;
  margin-left: 13px;
  border: 1px solid variables.$grey-input;
  flex-grow: 1;
  padding: 14px 40px 13px 15px;

  @media (min-width: variables.$tablet-width) {
    height: 52px;
    font-size: 20px;
    line-height: normal;
  }

  &::placeholder {
    color: variables.$dark-grey;
    opacity: 1;
  }
}

.form__input-area {
  width: 280px;
  min-height: 150px;
  margin: 0;
}

.form__label {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  text-align: left;
  position: relative;
}

.form__part-title {
  color: variables.$black;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  position: relative;
  display: inline-block;
  padding-left: 20px;
  background-color: variables.$white;
  margin: 0;
  transform: translateY(-65%);

  @media (min-width: variables.$tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-left: 40px;
  }
}

.form__part-title--contact {
  width: 227px;
  padding-right: 20px;
  transform: translateY(-35%);

  @media (min-width: variables.$tablet-width) {
    transform: translateY(-60%);
    width: unset;
    padding-right: 40px;
  }
}

.form__item-wrapper--contact {
  margin-top: 44px;
  margin-bottom: 17px;

  @media (min-width: variables.$tablet-width) {
    margin-top: 70px;
    margin-bottom: 20px;
  }
}

.form__item-wrapper--comment {
  margin-top: 24px;
  margin-bottom: 21px;

  @media (min-width: variables.$tablet-width) {
    margin-top: 70px;
    margin-bottom: 20px;
  }
}

.form__item-wrapper--adds {
  margin-top: 35px;
  margin-bottom: 17px;

  @media (min-width: variables.$tablet-width) {
    margin-top: 70px;
    margin-bottom: 20px;
  }
}

.form__part-title--comment {
  padding-right: 20px;

  @media (min-width: variables.$desktop-width) {
    padding-right: 40px;
  }
}

.form__part-title--adds {
  padding-right: 20px;

  @media (min-width: variables.$desktop-width) {
    padding-right: 40px;
  }
}

.form__text {
  color: variables.$black;
  font-size: 14px;
  text-transform: uppercase;
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 768px;
    padding: 0 370px 0 70px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 1300px;
    padding-right: 900px;
    padding-left: 40px;
  }
}

.form__container {
  @media (min-width: variables.$tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0 40px;
  }
}

.form__container--info {
  @media (min-width: variables.$desktop-width) {
    width: 570px;
    padding-left: 0;
    padding-right: 0;
  }
}

.form__container--border {
  @media (min-width: variables.$tablet-width) {
    border: 1px solid variables.$grey-input;
    padding: 28px 87px 7px 27px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 570px;
    padding: 30px 87px 7px 28px;
    min-height: 196px;
  }
}

.form__container--box {
  @media (min-width: variables.$tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 42px;
    column-gap: 61px;
    margin-bottom: 59px;
  }

  @media (min-width: variables.$tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.form__container--button {
  @media (min-width: variables.$tablet-width) {
    display: flex;
    column-gap: 64px;
  }

  @media (min-width: variables.$desktop-width) {
    column-gap: 80px;
  }
}

.form__note {
  color: variables.$black;
  font-family: variables.$lato-font;
  font-size: 14px;
  line-height: 16px;
  margin-top: 21px;

  @media (min-width: variables.$desktop-width) {
    font-size: 16px;
  }
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 21px;
  text-align: center;
  margin-bottom: 32px;
  margin-top: 15px;
}

.form__wrapper--main {
  @media (min-width: variables.$desktop-width) {
    margin-bottom: 20px;
    margin-top: 0;
  }
}

.form__wrapper--main:last-child {
  @media (min-width: variables.$desktop-width) {
    margin-bottom: 0;
  }
}

.form__mark {
  margin-bottom: 25px;
  padding-left: 45px;

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 23px;
    line-height: normal;
  }
}

.form__check {
  margin-bottom: 23px;
  padding-left: 45px;

  @media (min-width: variables.$tablet-width) {
    margin: 0;
    min-width: 240px;
    padding-left: 60px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-right: 0;
  }
}

.form__check--last {
  @media (min-width: variables.$desktop-width) {
    padding-right: 95px;
  }
}

.form__button {
  width: 100%;

  @media (min-width: variables.$tablet-width) {
    width: 282px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 570px;
  }
}

.form__item-wrapper {
  border-top: 2px solid variables.$green;
  z-index: -2;
}

.form__item-container {
  padding: 0;

  @media (min-width: variables.$tablet-width) {
    padding-left: 50px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-left: 0;
  }
}

.form__checkbox {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid variables.$grey-measure;
  top: -6px;

  @media (min-width: variables.$tablet-width) {
    width: 40px;
    height: 40px;
    top: -11px;
  }
}

.form__box[type="checkbox"]:checked + .form__checkbox {
  background-image: url("../img/checkbox-tick.svg");
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 7px;

  @media (min-width: variables.$tablet-width) {
    background-image: url("../img/checkbox-tick-big.svg");
    background-position-x: 7px;
    background-position-y: 9px;
  }
}

.form__radio-mark {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid variables.$grey-measure;
  border-radius: 50%;
  left: 0;
  top: -6px;
}

.form__radio[type="radio"]:checked + .form__radio-mark::after {
  @include pseudo;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
  background-color: variables.$green;
  border-radius: 50%;
}

.form__item-box {
  @media (min-width: variables.$desktop-width) {
    display: flex;
    margin: 0 auto;
    padding: 66px 0 30px 0;
    width: 1220px;
    column-gap: 80px;
  }
}

.form__container--flex {
  @media (min-width: variables.$desktop-width) {
    padding: 0;
    width: unset;
  }
}

.form__container--contact {
  @media (min-width: variables.$desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.form__wrapper--contact {
  @media (min-width: variables.$desktop-width) {
    min-width: 570px;
    position: relative;
  }
}

.form__label--email::after {
  @include pseudo;
  background-image: url("../img/icon-email.svg");
  background-repeat: no-repeat;
  top: 16px;
  right: 14px;
  width: 17px;
  height: 13px;
  background-size: contain;

  @media (min-width: variables.$tablet-width) {
    top: 19px;
    right: 16px;
  }

  @media (min-width: variables.$tablet-width) {
    right: 17px;
  }
}

.form__label--phone::after {
  @include pseudo;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  top: 15px;
  right: 15px;
  width: 15px;
  height: 15px;
  background-size: contain;

  @media (min-width: variables.$tablet-width) {
    top: 18px;
    right: 16px;
  }

  @media (min-width: variables.$tablet-width) {
    right: 18px;
  }
}
