@use "common/variables.scss";

.gift {
  color: variables.$white;
  font-size: 16px;
  line-height: 20px;
  background-color: rgba(variables.$green, 0.85);
  text-align: center;
  background-image: linear-gradient(rgba(variables.$green, 0.85), rgba(variables.$green, 0.85)), url("../img/mobile/gift-background.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 280px;
  height: 290px;
}
