@use "common/variables.scss";

.hero {
  position: relative;
  color: variables.$white;
  text-align: center;
  background-image: linear-gradient(variables.$green-hero-left, variables.$green-hero-right);
  background-repeat: no-repeat;
  background-size: 100% 302px;
  background-position: top center;

  @media (min-width: variables.$tablet-width) {
    color: variables.$black;
    background-image: unset;
    text-align: left;
  }
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgba(variables.$green, 0.85), rgba(variables.$green, 0.85)), url("../img/hero-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 320px 302px;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(variables.$green, 0.85), rgba(variables.$green, 0.85)), url("../img/hero-background-mobile@2x.jpg");
  }

  @media (min-width: variables.$tablet-width) {
    background: unset;
    display: block;
    position: relative;
  }

  @media (min-width: variables.$desktop-width) {
    min-height: 580px;
  }
}

.hero__text {
  position: relative;
  font-family: variables.$oswald-font;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  padding: 0 32px 29px 30px;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 483px;
    position: relative;
    padding: 15px 0 22px 90px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-left: 80px;
  }
}

.hero__product-image {
  width: 280px;
  height: 270px;

  @media (min-width: variables.$tablet-width) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: variables.$desktop-width) {
    position: absolute;
    top: -30px;
    left: 488px;
    width: 552px;
    height: 499px;
  }
}
