@use "common/variables.scss";

.hero {
  position: relative;
  color: variables.$white;
  text-align: center;
  background-image: linear-gradient(rgba(variables.$green, 0.85) 100%, rgba(variables.$white, 0.85) 60%), url("../img/mobile/index-background.png");
  background-repeat: no-repeat;
  background-size: auto 63%;
  background-position: center 0;
  padding: 20px;
}

.hero__text {
  position: relative;
  font-family: variables.$oswald-font;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  padding: 0 32px 29px 30px;
}
