@use "common/variables.scss";

.hero {
  color: variables.$white;
  background-color: rgba(variables.$green, 0.85);
  text-align: center;
  background-image: linear-gradient(rgba(variables.$green, 0.85), rgba(variables.$green, 0.85)), url("../img/mobile/index-background.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.hero__text {
  font-family: variables.$oswald-font;
  line-height: 14px;
  text-transform: uppercase;
}
