@use "common/variables.scss";

.html-logo__link {
  color: variables.$dark-grey;
  font-size: 16px;
  line-height: 20px;

  &:hover {
    color: variables.$green;
  }

  &:hover svg {
    fill: variables.$green;
  }

  &:focus {
    color: variables.$green;
  }

  &:focus svg {
    fill: variables.$green;
  }

  &:active span {
    opacity: 0.3;
  }

  &:active svg {
    opacity: 0.3;
    color: variables.$green;
  }
}

.html-logo__icon {
  fill: variables.$slider-button;
}
