@use "common/variables.scss";

.logo__text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 101px;
  height: 18px;

  @media (min-width: variables.$tablet-width) {
    right: 0;
    left: unset;
    top: 50%;
    transform: translate(0, -50%);
  }

  @media (min-width: variables.$desktop-width) {
    width: 118px;
    height: 21px;
  }
}

.logo__image {
  width: 33px;
  height: 38px;

  @media (min-width: variables.$tablet-width) {
    width: 60px;
    height: 50px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 70px;
    height: 59px;
  }
}

.logo__footer {
  &:hover {
    fill: variables.$logo-footer-hover-focus;
  }

  &:focus {
    fill: variables.$logo-footer-hover-focus;
  }

  &:active {
    fill: variables.$logo-footer-active;
  }
}
