@use "common/mixins.scss" as *;
@use "common/variables.scss";

.main-header::before {
  @media (min-width: variables.$desktop-width) {
    @include pseudo;
    width: 100%;
    background: url("../img/hero-background-desktop.jpg") no-repeat left calc(50% + 360px) top 0, linear-gradient(90deg, variables.$white 50%, variables.$green-hero-left 50%);
  }

  @media (min-width: 1440px) {
    background: url("../img/hero-background-desktop.jpg") no-repeat right, linear-gradient(90deg, variables.$white 50%, variables.$green-hero-left 50%);
  }

  @media (min-resolution: 2dppx) {
    background: url("../img/hero-background-desktop@2x.jpg") no-repeat left calc(50% + 360px) top 0, linear-gradient(90deg, variables.$white 50%, variables.$green-hero-left 50%);
    background-size: contain;
  }

  @media (min-width: 1440px) and (min-resolution: 2dppx) {
    background: url("../img/hero-background-desktop.jpg") no-repeat right, linear-gradient(90deg, variables.$white 50%, variables.$green-hero-left 50%);
  }
}

.main-header--white::before {
  @media (min-width: variables.$desktop-width) {
    background: none;
  }
}

.main-header__logo {
  position: relative;
  padding: 13px 0 9px 0;

  @media (min-width: variables.$tablet-width) {
    padding: 25px 0;
    position: relative;
    width: 174px;
    min-height: 50px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 202px;
    padding: 55px 0;
  }
}

.main-header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: variables.$tablet-width) {
    width: unset;
    padding: unset;
    margin: unset;
  }
}

.main-header__container {
  width: unset;
  margin: unset;
  padding: unset;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 768px;
    padding: 0 30px;
    margin: 0 auto;
  }

  @media (min-width: variables.$desktop-width) {
    width: 1300px;
    padding: 0 40px;
  }
}

.main-header__container--light {
  border-bottom: 1px solid variables.$grey-header;

  @media (min-width: variables.$tablet-width) {
    border: none;
  }
}

.main-header__container--dark {
  border-bottom: 1px solid variables.$grey-lines;

  @media (min-width: variables.$tablet-width) {
    border: none;
  }
}

.main-header__toggle {
  height: 24px;
  width: 24px;
  padding: 0;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding-bottom: 4px;

  @media (min-width: variables.$tablet-width) {
    display: none;
  }
}

.main-header__toggle-line {
  width: 24px;
  border-top: 1px solid variables.$black;
  border-bottom: 1px solid variables.$black;
  position: relative;
  left: -1px;
}

.main-header__toggle-line::before {
  @include pseudo;
  width: 24px;
  border-top: 1px solid variables.$black;
  border-bottom: 1px solid variables.$black;
  top: -1px;
  left: 0;
  transform: rotate(0) translateY(-8px);
}

.main-header__toggle-line::after {
  @include pseudo;
  width: 24px;
  border-top: 1px solid variables.$black;
  border-bottom: 1px solid variables.$black;
  top: 0;
  left: 0;
  transform: rotate(0) translateY(6px);
}

.main-header__link {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
