@use "common/variables.scss";

.main-footer__map {
  display: block;
  border: none;
  width: 100%;

  @media (min-width: variables.$desktop-width) {
    position: relative;
    margin-top: 70px;
  }
}
