@use "common/variables.scss";

.main-container__title {
  font-family: variables.$oswald-font;
  color: variables.$black;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 41px;
  margin-top: 27px;
}

.main-container__title--white {
  color: variables.$white;
}

.main-container__title--big {
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 37px;
}

.main-container__section--grey {
  padding: 0;
}
