@use "common/variables.scss";

.main-footer__map {
  display: block;
  border: none;
  width: 100%;
  background-image: url("../img/map-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 320px 362px;
  height: 362px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-mobile@2x.png");
  }

  @media (min-width: variables.$tablet-width) {
    height: 400px;
    background-image: url("../img/map-tablet.png");
    background-size: 768px 400px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.png");
    }
  }

  @media (min-width: variables.$desktop-width) {
    position: relative;
    background-image: url("../img/map-desktop.png");
    background-size: 1440px 400px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktop@2x.png");
    }
  }
}
