@use "common/variables.scss";

.main-container__title {
  font-family: variables.$oswald-font;
  color: variables.$black;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.main-container__title--white {
  color: variables.$white;
  padding: 27px 10px 25px 10px;
  margin: 0;

  @media (min-width: variables.$tablet-width) {
    color: variables.$black;
    font-size: 60px;
    line-height: 60px;
    width: 530px;
    padding: 36px 10px 25px 90px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 52px 10px 25px 80px;
  }
}

.main-container__title--big {
  font-size: 36px;
  line-height: 36px;
  padding: 28px 20px 37px 20px;
  width: 320px;
  margin: 0 auto;

  @media (min-width: variables.$tablet-width) {
    font-size: 60px;
    line-height: 60px;
    width: 768px;
    padding: 35px 70px 54px 70px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 15px 40px 55px 40px;
    margin: 0 auto;
    width: 1300px;
  }
}

.main-container__section--grey {
  padding: 0;

  @media (min-width: variables.$tablet-width) {
    border-top: 1px solid variables.$grey-header;
  }

  @media (min-width: variables.$desktop-width) {
    border-top: none;
  }
}

.main-container__catalog {
  margin-top: 28px;
  margin-bottom: 40px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 84px;
    margin-top: 36px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 65px;
    margin-top: 15px;
  }
}
