@use "common/mixins.scss" as *;
@use "common/variables.scss";

.product {
  @include list;
  font-family: variables.$oswald-font;
  font-size: 16px;
  line-height: 20px;
}

.product__link {
  color: variables.$darker-grey;
}

.product__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.product__title--more {
  color: variables.$secondary-black;
}

.product__feature {
  font-family: variables.$lato-font;
  font-size: 12px;
  line-height: 16px;
}
