@use "common/mixins.scss" as *;
@use "common/variables.scss";

.product {
  @include list;
  font-family: variables.$oswald-font;
  font-size: 16px;
  line-height: 20px;


  @media (min-width: variables.$tablet-width) {
    background-color: variables.$light-grey;
    width: 324px;
    height: 511px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(variables.$white 40px, variables.$light-grey 40px);
  }

  @media (min-width: variables.$desktop-width) {
    background-color: variables.$light-grey;
    width: 245px;
  }
}

.product__link {
  color: variables.$darker-grey;
  text-align: center;
  min-height: 107px;
}

.product__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;

  @media (min-width: variables.$tablet-width) {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    margin: 170px 55px 20px 60px;
  }

  @media (min-width: variables.$tablet-width) {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    margin: 151px 52px 23px 53px;
  }
}

.product__title--left {
  width: 80px;

  @media (min-width: variables.$tablet-width) {
    width: 135px;
  }

  @media (min-width: variables.$tablet-width) {
    width: 140px;
  }
}

.product__more {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 82px;
  margin-bottom: 25px;

  @media (min-width: variables.$tablet-width) {
    width: auto;
    padding: 0;
  }

  @media (min-width: variables.$desktop-width) {
    width: auto;
    padding: 0;
  }
}

.product--more {
  border-bottom: 1px solid variables.$grey-product;

  @media (min-width: variables.$tablet-width) {
    background-color: variables.$white;
    border-bottom: unset;
  }
}

.product__title--more {
  color: variables.$secondary-black;
  margin: 0;
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    padding-top: 237px;
    width: 134px;
  }
}

.product__feature {
  font-family: variables.$lato-font;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: variables.$tablet-width) {
    font-size: 16px;
    line-height: 20px;
    border-bottom: 1px solid variables.$grey-measure;
    padding-bottom: 4px;
  }
}

.product__feature--right {
  text-align: right;
}

.product__container {
  grid-column: 2/3;
  grid-row: 1/2;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 32px;
  }
}

.product__wrapper {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: repeat(2, 70px);

  @media (min-width: variables.$tablet-width) {
    width: 250px;
    grid-template-columns: repeat(2, auto);
  }

  @media (min-width: variables.$desktop-width) {
    width: 169px;
    grid-template-columns: repeat(2, auto);
    margin-left: 38px;
  }
}

.product__item {
  display: grid;
  grid-template-columns: 140px 140px;
  row-gap: 17px;

  @media (min-width: variables.$tablet-width) {
    width: auto;
    padding: 0;
    display: block;
  }

  @media (min-width: variables.$desktop-width) {
    width: auto;
    padding: 0;
    display: block;
  }
}

.product__feature--more {
  @media (min-width: variables.$tablet-width) {
    display: block;
    border: unset;
    width: 170px;
    padding: 0;
  }
}

.product__more-name {
  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 23px;
  }
}

.product__button {
  @media (min-width: variables.$desktop-width) {
    margin: 0 auto;
  }
}
