@use "common/mixins.scss" as *;
@use "common/variables.scss";

.programs-item {
  @include list;
  background-color: variables.$light-grey;
  width: 280px;
  min-height: 266px;
  position: relative;

  @media (min-width: variables.$tablet-width) {
    width: 708px;
    min-height: 372px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 570px;
    min-height: 374px;
  }
}

.programs-item__title {
  color: variables.$black;
  font-family: variables.$oswald-font;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding: 30px 20px 14px 90px;
  position: relative;

  @media (min-width: variables.$tablet-width) {
    padding: 77px 400px 24px 53px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 77px 120px 73px 214px;
  }
}

.programs-item__title::before {
  @include pseudo;
  width: 50px;
  height: 50px;
  background-color: variables.$green;
  border-radius: 50%;
  left: 20px;
  top: 24px;

  @media (min-width: variables.$tablet-width) {
    width: 200px;
    height: 200px;
    left: 445px;
    top: 92px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 100px;
    height: 100px;
    left: 52px;
    top: 47px;
  }
}

.programs-item__text--slim::before {
  @include pseudo;
  background-image: url("../img/cat-slim.svg");
  background-repeat: no-repeat;
  top: 21px;
  left: 27px;
  width: 36px;
  height: 50px;
  background-size: contain;

  @media (min-width: variables.$tablet-width) {
    width: 140px;
    height: 194px;
    left: 475px;
    top: 81px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 70px;
    height: 97px;
    left: 67px;
    top: 41px;
  }
}

.programs-item__text--pro::before {
  @include pseudo;
  background-image: url("../img/cat-pro.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 35px;
  left: 12px;
  width: 68px;
  height: 28px;
  background-size: contain;

  @media (min-width: variables.$tablet-width) {
    width: 268px;
    height: 112px;
    left: 411px;
    top: 135px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 135px;
    height: 56px;
    left: 33px;
    top: 67px;
  }
}

.programs-item__link {
  display: inline-block;
  color: variables.$black;
  font-family: variables.$oswald-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding: 19px 15px 22px 20px;
  position: relative;
  max-width: 235px;

  @media (min-width: variables.$tablet-width) {
    width: auto;
    padding: 8px 15px 22px 52px;
    font-size: 20px;
  }
}

.programs-item__link:active {
  opacity: 0.3;
}

.programs-item__link::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 2px;
  background-color: variables.$black;
  top: 26px;
  right: -19px;

  @media (min-width: variables.$tablet-width) {
    left: 170px;
    top: 14px;
  }

  @media (min-width: variables.$desktop-width) {
    left: 180px;
  }
}

.programs-item__link::after {
  content: "";
  position: absolute;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-size: 7px 12px;
  width: 15px;
  height: 12px;
  top: 27px;
  right: -33px;
  transform: translateY(-50%);

  @media (min-width: variables.$tablet-width) {
    right: -51px;
    top: 15px;
  }

  @media (min-width: variables.$desktop-width) {
    left: 198px;
  }
}

.programs-item__link:hover::before {
  height: 2px;
  width: 26px;
  right: -27px;
}

.programs-item__link:hover::after {
  right: -41px;

  @media (min-width: variables.$tablet-width) {
    left: 192px;
  }
}

.programs-item__text {
  padding: 15px 33px 23px 20px;
  margin: 0;

  @media (min-width: variables.$tablet-width) {
    padding: 0 316px 52px 52px;
    width: 708px;
    min-height: 96px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0 61px 27px 52px;
    width: 570px;
    min-height: 72px;
  }
}

.programs-item__text::after {
  @include pseudo;
  width: 240px;
  height: 1px;
  background-color: variables.$grey-lines;
  bottom: 57px;

  @media (min-width: variables.$tablet-width) {
    display: none;
  }
}

.programs__list {
  @include list;
  position: relative;

  @media (min-width: variables.$desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.programs__item {
  margin-top: 19px;
  margin-bottom: 20px;

  @media (min-width: variables.$tablet-width) {
    margin-top: -5px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-top: 23px;
  }
}

.programs-item:last-child {
  @media (min-width: variables.$tablet-width) {
    margin-top: 30px;
  }

  @media (min-width: variables.$tablet-width) {
    margin-top: 23px;
  }
}
