@use "common/mixins.scss" as *;
@use "common/variables.scss";

.site-list {
  @include list;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    width: 436px;
    margin-top: 39px;
    justify-content: space-between;
  }
}

.site-list__link {
  font-family: variables.$oswald-font;
  color: variables.$black;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  display: block;

  @media (min-width: variables.$tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: variables.$desktop-width) {
    font-size: 20px;
    line-height: normal;
  }
}

.site-list__item {
  text-align: center;
  padding: 22px 40px 24px 40px;
  position: relative;

  @media (min-width: variables.$tablet-width) {
    padding: 0;
  }
}

.site-list__item::before {
  @include pseudo;
  width: 320px;
  height: 1px;
  background-color: variables.$grey-header;
  left: calc(-10% + 7px);
  top: 0;

  @media (min-width: variables.$tablet-width) {
    background: none;
  }
}

.site-list__item--current::after {
  @media (min-width: variables.$tablet-width) {
    @include pseudo;
    width: auto;
    height: 2px;
    background-color: variables.$green;
    left: 0;
    bottom: -10px;
  }
}
