@use "common/mixins.scss" as *;
@use "common/variables.scss";

.site-list {
  @include list;
}

.site-list__link {
  font-family: variables.$oswald-font;
  color: variables.$black;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.site-list__item {
  text-align: center;
  margin-bottom: 46px;
}
