@use "common/mixins.scss" as *;
@use "common/variables.scss";

.slider {
  height: 256px;
  width: 280px;

  @media (min-width: variables.$tablet-width) {
    height: 512px;
    width: 560px;
  }
}

.slider__button {
  &:hover svg {
    fill: variables.$green;
  }

  &:hover {
    color: variables.$green;
    cursor: pointer;

    &::before {
      border-color: variables.$green;
    }

    &::after {
      border-color: variables.$green;
    }
  }

  &:active {
    opacity: 0.6;

    &::before {
      border-color: variables.$green;
    }

    &::after {
      border-color: variables.$green;
    }
  }

  &::before {
    @include pseudo;
    height: 256px;
    border-right: 2px solid variables.$slider-button;
    border-left: 2px solid variables.$slider-button;
    border-radius: 2px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    @media (min-width: variables.$tablet-width) {
      height: 512px;
    }
  }

  &::after {
    @include pseudo;
    background-color: variables.$white;
    border: 2px solid variables.$slider-button;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
}

.slider__cat {
  position: absolute;

  &--fat {
    top: 0;
    left: 0;
    z-index: 2;
    width: 50%;
    background-color: variables.$grey;

    @media (min-width: variables.$tablet-width) {
      background-image: linear-gradient(variables.$white 0, variables.$white 153px, variables.$grey 153px, variables.$grey 1080px);
    }

    @media (min-width: variables.$desktop-width) {
      background-image: linear-gradient(variables.$white 0, variables.$white 136px, variables.$light-grey 136px, variables.$light-grey 600px);
    }
  }

  &--slim {
    top: 0;
    right: 0;
  }
}

.slider__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  fill: variables.$slider-button;
}
