@use "common/mixins.scss" as *;
@use "common/variables.scss";


.social {
  background-color: variables.$light-grey;
  text-align: center;
  position: relative;
}

.social__list {
  @include list;
  display: flex;
  flex-wrap: wrap;
  width: 132px;
  min-height: 22px;
  justify-content: space-between;
  margin: 37px 74px 35px 74px;

  @media (min-width: variables.$tablet-width) {
    margin: 0;
    width: 132px;
    margin-left: 40px;
  }

  @media (min-width: variables.$tablet-width) {
    margin: 0 0 0 35px;
  }
}

.social__logo {
  display: flex;
  width: 280px;
  min-height: 34px;
  justify-content: space-between;
  align-items: center;

  @media (min-width: variables.$tablet-width) {
    width: 163px;
  }
}

.social__container {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 57px;
    padding-bottom: 55px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 72px 40px;
  }
}

.social__link {
  &:hover svg {
    fill: variables.$green;
  }

  &:focus svg {
    fill: variables.$green;
  }

  &:active {
    fill: variables.$green;
    opacity: 0.3;
  }
}

.social__link-icon {
  fill: variables.$slider-button;
  width: 28px;
  height: 22px;
}

.social__list::before {
  @include pseudo;
  width: 280px;
  height: 1px;
  background-color: variables.$grey-lines;
  right: 50%;
  transform: translateX(50%);
  top: 84px;

  @media (min-width: variables.$tablet-width) {
    display: none;
  }
}

.social__list::after {
  @include pseudo;
  width: 280px;
  height: 1px;
  background-color: variables.$grey-lines;
  right: 50%;
  transform: translateX(50%);
  bottom: 93px;

  @media (min-width: variables.$tablet-width) {
    display: none;
  }
}
