@use "common/mixins.scss" as *;
@use "common/variables.scss";


.social {
  display: flex;
  flex-direction: column;
  background-color: variables.$light-grey;
  text-align: center;
}

.social__list {
  @include list;
  display: flex;
  width: 132px;
  min-height: 22px;
  justify-content: space-between;
  margin: 40px 74px;

  @media (min-width: variables.$tablet-width) {
    margin: 0;
    width: 132px;
  }
}

.social__logo {
  display: flex;
  width: 280px;
  min-height: 34px;
  justify-content: space-between;
  align-items: center;

  @media (min-width: variables.$tablet-width) {
    width: 168px;
  }
}

.social__container {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
