@use "variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

body {
  font-family: variables.$lato-font;
  font-size: 14px;
  color: variables.$dark-grey;
  line-height: 18px;
  background-color: variables.$white;
  min-width: 320px;
  margin: 0;
}

a {
  text-decoration: none;
}
