$lato-font: "Lato", "Arial", sans-serif;
$oswald-font: "Oswald", "Arial Narrow", sans-serif;
$white: #ffffff;
$light-grey: #f2f2f2;
$grey: #eaeaea;
$dark-grey: #444444;
$darker-grey: #222222;
$black: #000000;
$green: #68b738;
